#customMap
{
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#btn {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 401;
}

#btn:hover{
    opacity: 0.8;
    cursor: pointer;
}